<!-- Page Header -->
<header class="masthead" style="background-image: url('img/nabout-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Rahul Kumar</p>
      <p>
        ~ I am a
        <span class="About-me"> Full Stack MERN Web Developer & Designer</span>
        focused on crafting
        <span class="About-me"> Great web experiences</span>.
      </p>
      <p>
        Coding and design have always been my passions since I first started working with computers, but it wasn't until last year that I discovered Web development.
      </p>

      <p>
        I am currently a Computer Science student at Delhi Technological University.
      </p>

      <p>
        I concentrate on creating excellent web pages. Since I was a child, coding and design have been two of my main interests, with a strong preference for web development and design in particular.
      </p>

      <p>
        I've worked on a number of projects, some of which are now operational. They've had a lot of positive response, which makes me want to learn more about this profession.
      </p>
    </div>
  </div>
</div>

<hr />
